#wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(6, 115px);
    background-color: black;
}

#sceneBlock{
  background-color: black;
  grid-column: 5/7;
  grid-row: 1/4;
}

#statusBlock{
  background-color: orange;
  grid-column: 1/5;
  grid-row: 1;
}

#textBlock{
  background-color: red;
  grid-column: 1/5;
  grid-row: 2/6;
}

#inputBlock{
  background-color: yellow;
  grid-column: 1/5;
  grid-row: 6;
}

#mapBlock{
  background-color: blue;
  grid-column: 5/7;
  grid-row: 4/7;
}
